name: validate

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  pypower:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    
    - name: Install packages
      run: |
        cd pypower
        python3 -m pip install --upgrade pip -r requirements.txt pylint

    - name: Analyse code
      run: |
        cd pypower_sim
        pylint -fail 9 *.py

    - name: Run tests
      run: |
        cd test
        python3 test.py
